body {
    padding-top: 70px;
}

h2 {
    margin-top: 0;
}

.hidden {
    display: none;
}

.alice-view {
    display: none;
}

.nav-pills > li .close {
    margin: 4px -2px 0 6px;
    font-size: 17px;
}

.control-actions button {
    margin-right: 20px;
}

.heroicons img {
    margin-top: 4px;
}

.border {
    border-left: 1px solid #eee;
}

#openpath {
    color: green;
    font-weight: bold;
}